@font-face {
    font-family: 'Butler Stencil';
    src: url('ButlerStencil-Medium.woff2') format('woff2'),
        url('ButlerStencil-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('ButlerStencil.woff2') format('woff2'),
        url('ButlerStencil.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('ButlerStencil-ExtraBold.woff2') format('woff2'),
        url('ButlerStencil-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('ButlerStencil-Black.woff2') format('woff2'),
        url('ButlerStencil-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('ButlerStencil-UltraLight.woff2') format('woff2'),
        url('ButlerStencil-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('ButlerStencil-Bold.woff2') format('woff2'),
        url('ButlerStencil-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('ButlerStencil-Light.woff2') format('woff2'),
        url('ButlerStencil-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

